.slideone{
    background-image:url(../../img//intro-carousel/one.jpg);
     width: 100%;
     height: 80vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     font-family: "Open Sans", sans-serif; 
     color: #18d26e;
     transition: 0.5s; 
      }

.slidetho{
    background-image:url(../../img//intro-carousel/2.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif; 
    color: #18d26e;
    transition: 0.5s; 
}
.slidethree{
    background-image:url(../../img//intro-carousel/3.jpg);
    width: 100%;
    height:80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif; 
    color: #18d26e;
    transition: 0.5s; }
.slidefore{
    background-image:url(../../img//intro-carousel/4.jpg);
    width: 100%;
    height:80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif; 
    color: #18d26e;
    transition: 0.5s; }

.slidefive{
    background-image:url(../../img//intro-carousel/5.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 font-family: "Open Sans", sans-serif; 
    color: #18d26e;
    transition: 0.5s; }
.carousel-content{
    color: white;
    text-align: center;
    display: block;
    z-index: 0;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 80vh;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  #intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}
#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}
#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}
#intro .btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}

.carousel-item::before {
    content: '';
    /*background-color: rgba(0, 0, 0, 0.7);*/
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }  

#intro {
    display: block;
    z-index: 1;
    height: 80vh;
}
.react-slideshow-wrapper.slide {
    width: 100%;
    overflow: hidden;
    height: 80vh;
}
