/* Call To Action Section
--------------------------------*/

#call-to-action {
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 30px 0;
  }
  
  #call-to-action h3 {
    color: #fff;
    font-size: 28px;
  
  
  }
  
  #call-to-action p {
    color: #fff;
  }
  
  #call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 18px;
    border-radius: 25px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #18d26e;
    border: 2px solid #18d26e;
  }
  