
#clients {
    padding: 60px 0;
  }
  
  #clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
  }
  
  #clients img:hover {
    opacity: 1;
  }
  
  #clients .owl-nav,
  #clients .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  #clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #clients .owl-dot.active {
    background-color: #18d26e;
  }
  .photoone{
    background-image: url(../../img//clients/client-1.png);
    opacity:0.25;
    transition: 0.3s;
    padding: 30px 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
   

  }
  .phototwo{
    background-image: url(../../img//clients/client-2.png);
    opacity:0.25;
    transition: 0.3s;
    padding: 30px 0;
    height: 50px;background-color: rgb(255, 255, 255);

  }
  .photothree{
    background-image: url(../../img//clients/client-3.png);
    opacity:0.25;
    transition: 0.3s;
    padding: 30px 0;
    height: 50px;  }
  .photofore{
    background-image: url(../../img//clients/client-4.png);
    opacity:0.25;
    transition: 0.3s;
    padding: 30px 0;
    height: 50px; 
    background-color: rgb(255, 255, 255);
  }
  .photofive{
    background-image: url(../../img//clients/client-5.png);
    transition: 0.3s;
    padding: 30px 0;
    height: 50px;
    background-color: rgb(255, 255, 255);

  }
  .photosix{
    background-image: url(../../img//clients/client-6.png);
    transition: 0.3s;
    padding: 30px 0;
    height: 50px;   
    background-color: rgb(255, 255, 255);


  }
  .photoseven{
    background-image: url(../../img//clients/client-7.png);
    transition: 0.3s;
    padding: 30px 0;
    height: 100px;
    background-color: rgb(255, 255, 255);

  }
  .photoeight{
    background-image: url(../../img//clients/client-8.png);
    transition: 0.3s;
    padding: 30px 0;
    height: 100px;
    background-color: rgb(255, 255, 255);

  }
.carousel1{
position: relative;
background-color: rgb(255, 255, 255);
}